ul, ol, li{
   list-style: none; 
}

a{
    text-decoration: none;
}

.menu{
    margin: 0 auto;
    width: 500px;
}

.menu > li{
    display: inline-block;
    position: relative;
}

.menu > li > ol{
    position: absolute;
    padding-left: 0%;
    display: none;
}

.menu > li :hover > ol {
    display: block;
}

.menu a {
    display:block;
    box-sizing: border-box;
    color: coral;
    background: yellow;
    width: 100px;
    height: 40px;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 4px;
    transition: background 0.6s;
}
.menu a:hover{
    background: violet;
    color: seagreen;
}
/* contact style*/
.contact{
    position: sticky;
    top: 10px;
    left: 85%;
    width: 50px;
    height: 50px;
    background-image: url(unnamed.png);
    background-size: contain;
}

.contact > a {
display: block;
width: 100%;
height: 100%;
}

/* article start */
article{
    padding: 20px;
}
article img{
    width: 250px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.clear-both{
    clear: both;
    margin-bottom: 50px;
}

/* article end */


.contact::before{
    position: absolute;
    top: 50px;
    left: 10px;
    content: '';
    border: 15px solid transparent;
    border-top: 15px solid rgb(27, 200, 63);
}
.card-box{
    width: 80%;
    min-height: 400px; 
 margin: 50px auto;
 display:grid;
 grid-template-areas: 
"card-1 card-1 card-2 "
"card-3 card-4 card-5 ";
}

.card-box {
    width: 80%;
    min-height: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-areas: 
    cart-1 cart-1 cart-2' 
    'cart-3 cart-4 cart-5';
    grid-template-rows: 220px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    }